/*! Place your custom styles here */

.mw-50{
    max-width: 50px!important;
    margin-bottom: 0!important;
}

.mh-85{
    max-height: 85px!important;
}

.list-no-bullets{
    list-style-type: none!important;
}
.btn--outline {
    color: #ee3124!important;
    border-color: #ee3124!important;
}

.btn--outline {
    border-color: #ee3124 !important;
    color: #ee3124 !important;
}

.btn--outline:hover {
    background-color: #ee3124;
    color: #fff !important;
}
