/*! Place your custom styles here */

.mw-50 {
    max-width: 50px !important;
    margin-bottom: 0 !important;
}

.mw-33 {
    max-width: 33px !important;
    margin-bottom: 0 !important;
}

.mh-85 {
    max-height: 85px !important;
}

.list-no-bullets {
    list-style-type: none !important;
}

.text-red-800{
    color: #ee3124 !important;
    font-weight: 800!important;
}

.pr-bottom-10{
    position: relative!important;
    bottom: 10px!important;
}

.btn--outline {
    color: #ee3124 !important;
    border-color: #ee3124 !important;
}

.btn--outline {
    border-color: #ee3124 !important;
    color: #ee3124 !important;
}

.btn--outline:hover {
    background-color: #ee3124;
    color: #fff !important;
}

.input-number [class^="stack-"] {
    color: #666666 !important;
}

.input-number .input-number__controls > span {
    padding: 4px;
}

#cart-form input[readonly], #cart-form select[readonly] {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #ffffff;
}

.w-40 {
    width: 40% !important;
}

.h-2em {
    height: 2em !important;
}

.top-0 {
    top: 0 !important;
}

.spinner {
    display: none;
}
.spinner.spinning {
    display: block;
}
.spinning .overlay {
    background-color: #000000;
    opacity: 0.5;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
}

.spinning .loader {
    position: absolute !important;
    z-index: 2;
}
